node_modules
src
*.test.*
*.spec.*
coverage
vite.config.ts
vitest.setup.ts
tests
src/**/*.test.*
src/**/*.spec.*
node_modules
*.log
vite.svg
public
index.html
tsconfig.*.json
tsconfig.json
eslint.config.js

